
body {
    margin: 0px;
}

/*=============Header secction ================*/ 


header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color:#092058; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-pagina {
    font-size: 24px;
    padding-left: 50px;
    color: white;
    
}

#logo-pagina:hover {
    font-size: 30px;
    color:#ea6c6c ;
    transition: all 0.5s;
    
}

.navbar {
    width: 45%;
}

.menu {
    display: flex;
    border: 0px;
    justify-content: space-evenly;
    color: white;
    width: 100%;
    margin: 0px;

}

.menu ul {
    width: 100%;
    border: 1px solid black;
}


header nav ul li {
    padding: 0px 0px;
    list-style-type: none;
    
}

.menu a {
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #ea6c6c;
    font-size: 20px;;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: rgb(186, 5, 5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


/* =================Main Section ==================== */ 

#seccion-principal{
    padding-top: 80px;
    
}

/* Section 1 style - ACERCA DE MI */ 

.section-1 {
    background-color: #ead9d9;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 10px solid #000;
    
}

.acerca {
    
    text-align: right;
    padding: 10px;
    width: 400px; /* O un valor que se adapte mejor a tu diseño */
    padding: 40px;
    /*max-width: 600px; /* O cualquier máximo que prefieras */
    /*margin: auto; /* Esto centrará el div si es más pequeño que el ancho disponible */
   
}


.parrafo1 {
    /* add animation below */
    animation: rightLeft 2s; 
    
}

.parrafo2 {
/* add animation below */
animation: upDown 1s;
}

@keyframes rightLeft {
30% {
    transform: translate(50px, 0px);
}
70% {
    transform: translate(-50px, 0px);
}
}

@keyframes upDown {
30% {
    transform: translate(0px, -25px);
}
70% {
    transform: translate(0px, 25px);
}
}



.acerca-imagen {
    padding: 10px;
}
.acerca-imagen img{
    height: 250px;
    width: auto;
    border: 1px solid #000;
}

/* Section 2 style - IMAGEN  */ 

.section-2 {
    width: 100%;
   
}

.section-2 img {
    width: 100%;
    height: 60%;
}

/* SECTION 3 - TRABAJOS */ 

.section-3 {
    background-color: #ead9d9;
}

.section-3 h3 {
    padding: 15px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.works-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
}


.work-container {
    width: 30%;
    border: 1px solid #000;
    margin: 10px;
    padding: 5px;
    

}

.work-container:hover{
    background-color: #f8e4d0;
    border-radius: 10px 50px;
}
/* SECTION 4 SERVICIOS */ 


/* =====================Footer Section =================== */ 

footer {
    background-color: #092058;
    height: 100%;
    color: white;
    border: 1px solid;
}

.redes-sociales{
    
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.redes-sociales li{
   
    list-style-type: none;  
}



.redes-sociales a {
    color: white;
    
}

.redes-sociales a:hover {
    color: #ea6c6c;
    font-size: 24px;
    
}

#whatsapp-logo{
    
    color: #28f925;
    font-size: 30px;
   
    padding: 2px;
    position: fixed;
    bottom: 22px;
    right: 39px;

}

h3 {
    padding: 5px;
    margin: 0px;
}


/* ================Media Queries ==================*/ 

/* Pantallas pequeñas */ 

@media (max-width: 767px ){ 

    /* Header secction */ 
  

    .checkbtn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #2c3e50;
        text-align: center;
        top: 70px;
        left: 100%;
        
        transition: all 1.2s ease-out 0.2s;
        justify-content: center;
       
    }

    ul.menu {
        width: 100%;
        height: 100vh;
       
        padding: 0px 0px 0px 0px;
        border: 1px solid black;
    }

    ul.menu li {
        padding: 10px;
    }
   
    #check:checked ~ ul {
        left: 0%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        
    }


    /* Main section */ 
    .section-1 {
        background-color: #eeeeee;
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .work-container {
        width: 90%;
    
    }



}


@media (min-width: 767px) and (max-width: 1024px) {
    
    .work-container {
        width: 45%;
    
    }

    .navbar {
        width: 80%;
    }

}
